
@font-face {
	font-family: 'basic_sans_altblack';
	src: url('../../fonts/basicSans/basicsansalt-black-webfont.woff2') format('woff2'),
	url('../../fonts/basicSans/basicsansalt-black-webfont.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'basic_sans_altbold';
	src: url('../../fonts/basicSans/basicsansalt-bold-webfont.woff2') format('woff2'),
	url('../../fonts/basicSans/basicsansalt-bold-webfont.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'basic_sans_altregular';
	src: url('../../fonts/basicSans/basicsansalt-regular-webfont.woff2') format('woff2'),
	url('../../fonts/basicSans/basicsansalt-regular-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'basic_sans_altregular_it';
	src: url('../../fonts/basicSans/basicsansalt-regularit-webfont.woff2') format('woff2'),
	url('../../fonts/basicSans/basicsansalt-regularit-webfont.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'basic_sans_altlight';
	src: url('../../fonts/basicSans/basicsansalt-light-webfont.woff2') format('woff2'),
	url('../../fonts/basicSans/basicsansalt-light-webfont.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
