body {
	background: url(../../images/backgrounds/bg@2x.png) repeat;
	// overflow: hidden;
	overflow-x: hidden;
}

main {
	padding: 0 16px;
	@include breakpointMobile() {
		padding: 0 24px;
	}
	@include breakpointTablet(){
		padding: 0 64px;
	}
	@include breakpointDesktop(){
		padding: 0;
	}
}
header {
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;

	padding-top: 98px;
	padding-bottom: 40px;

	.title-element {
		opacity:0;
		font-size: 91px;
		@include breakpointMobile {
			font-size: 100px;
		}
		@include breakpointTablet {
			font-size: 160px;
		}
		@include breakpointDesktop {
			font-size: 200px;
		}
	}
}
section {
	width: 100%;
	position: relative;
	display: inline-block;
	margin: 64px 0;
	@include breakpointDesktop {
		margin: 100px 0;
	}
}
.container {
	@include defaultContainer();
}
.composition {
	width: 100%;
	display: flex;
	align-items: center;
	flex-justify: center;
}

