// --------------------------------------------------------------------------
// Container
// --------------------------------------------------------------------------

@mixin defaultContainer() {
	max-width: $breakpoint-desktop;
	margin: 0 auto;
	width: 100%;

	@media (min-width: $breakpoint-tablet) {
	}

	@media (min-width: $breakpoint-desktop) {
	}
}



// --------------------------------------------------------------------------
// Content
// --------------------------------------------------------------------------

@mixin overflow() {
	overflow: scroll;
	-webkit-overflow-scrolling: scroll-touch;
}

@mixin overflowX() {
	overflow-x: scroll;
	-webkit-overflow-scrolling: scroll-touch;
}

@mixin overflowY() {
	overflow-y: scroll;
	-webkit-overflow-scrolling: scroll-touch;
}

@mixin removeLastMargin() {
	&:last-child {
		margin-bottom: 0px !important;
	}
}

@mixin removeLastMarginChildren() {
	& > * {
		@include removeLastMargin();
	}
}

@mixin noOverlay() {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	&:focus {
		outline: 0;
		border:none;
		color: rgba(0, 0, 0, 0);
	}
}

@mixin noSelect() {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	@include noOverlay;
}


// --------------------------------------------------------------------------
// Images
// --------------------------------------------------------------------------

@mixin backgroundCover($image: '') {
	@if $image != '' {
		background-image: url($image);
	}

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}



// --------------------------------------------------------------------------
// Transition
// --------------------------------------------------------------------------

@mixin defaultTransition() {
	transition: .2s all ease-in-out;
}

@mixin slowTransition() {
	transition: .6s all ease-in-out;
}

@mixin delayTransition() {
	transition: .2s .025s all ease-in-out;
}



// --------------------------------------------------------------------------
// Shadow
// --------------------------------------------------------------------------

@mixin defaultBoxShadow() {
	box-shadow: 0 2px 20px rgba(0, 0, 0, 0.10);
}

@mixin lightBoxShadow() {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.10);
}

@mixin strongBoxShadow() {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.20);
}



// --------------------------------------------------------------------------
// Breakpoint
// --------------------------------------------------------------------------

@mixin breakpointMobile() {
	@media (min-width: $breakpoint-mobile) {
		@content;
	}
}

@mixin breakpointTablet() {
	@media (min-width: $breakpoint-tablet) {
		@content;
	}
}

@mixin breakpointDesktop() {
	@media (min-width: $breakpoint-desktop) {
		@content;
	}
}

@mixin breakpointWidescreen() {
	@media (min-width: $breakpoint-widescreen) {
		@content;
	}
}


// --------------------------------------------------------------------------
// Ratio
// --------------------------------------------------------------------------

@mixin ratioParent() {
	position: relative;

	&:before {
		content: '';
		display: block;
		padding-top: 100%;
	}
}

@mixin ratioParent-4-3() {
	@include ratioParent;

	&:before {
		padding-top: 75%;
	}
}

@mixin ratioParent-2-1() {
	@include ratioParent;

	&:before {
		padding-top: 50%;
	}
}

@mixin ratioParent-16-9() {
	@include ratioParent;

	&:before {
		padding-top: 56.25%;
	}
}

@mixin ratioChild() {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
