// $tbnt-dark-blue : #232947;
$tbnt-dark-blue : #2D2D2A;
$tbnt-yellow : #FFD717;
$tbnt-red : #EE6352;
$tbnt-green : #56E39F;
$tbnt-blue : #87D1F0;
$tbnt-purple : #ABA4F0;
$white : #FFFFFF;

$bSSmall : 0 5px 4px  rgba(171,164,240,.50);
$bSSmallBlack : 0 5px 10px  rgba(0,0,0,.2);
$bSMedium : 0 5px 10px rgba(171,164,240,.50);
$bSMediumBlack : 0 5px 10px rgba(0,0,0,.50);
$bSStrong : 0 20px 30px rgba(171,164,240,.50);
$bSStrongBlack : 0 20px 30px rgba(0,0,0,.50);
$bSHuge : 0 20px 50px rgba(171,164,240,.2);
$bSHugeBlack : 0 20px 50px rgba(0,0,0,.2);




$regularFontFamily : 'basic_sans_altregular' ,sans-serif;
$boldFontFamily :  'basic_sans_altbold' ,sans-serif;
$blackFontFamily :  'basic_sans_altblack' ,sans-serif;


$breakpoint-mobile: 425px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1025px;
$breakpoint-widescreen: 1440px;