.client-composition {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: flex-end;

	[data-element-2] {
		transform: translateY(-40px) translateX(0);
		@include breakpointTablet {
			transform: translateY(-90px) translateX(32px);
		}
	}
}

.client-element {
	position: relative;
	z-index: 200;
	margin-bottom: 48px;
	width: 100%;
	display: block;

	&.left {
		padding-right: 0;
	}
	&.right {
		padding-left: 0;
	}
	&.offset-y {
		position: relative;
		top: 0;
	}
	@include breakpointTablet {
		margin-bottom: 64px;
		&.left {
			padding-right: 24px;
		}
		&.right {
			padding-left: 24px;
		}
		&.offset-y {

			top: 160px;
		}
	}
	&:hover {
		[data-legend] {
			// @include defaultTransition;
			// opacity:1;
			// color: $tbnt-purple;

		}
		[data-tags] {
			// @include defaultTransition;
			// opacity:1;
		}

	}
	.card {
		position: relative;
		z-index: 200;
		height: 200px;
		border-radius: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		box-shadow: $bSHuge;
		overflow: hidden;
		width: 100%;
		overflow:hidden;
		background-repeat: no-repeat;
		background-position:  center center;
		background-size: cover;

		@include breakpointTablet {
			height: 245px;
		}

	}
	.content {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		&:after {
			content: '';
			position: absolute;
			opacity: .4;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 100;
			background: #f1f4f9; /* Old browsers */
			background: -moz-linear-gradient(-45deg, #f1f4f9 0%, #b3adf1 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(-45deg, #f1f4f9 0%,#b3adf1 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(135deg, #f1f4f9 0%,#b3adf1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f4f9', endColorstr='#b3adf1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		}
	}
	.client-name {
		font-size: 24px;
		position: relative;
		z-index: 110;
		img {
			width : 130px;
		}
	}

}
.client-description {
	.legend {
		margin-top: 24px;
		font-size: 1.2em;
		line-height: 1.2em;

		@include defaultTransition;

		a {
			display: inline-block;
			opacity: .5;
			margin-top: 8px;
		}

		@include breakpointTablet {
			padding: 0 16px;
			opacity: .7;
		}
	}
	.tags {
		opacity: 1;
		margin-top: 8px;
		font-size: 0.875em;
		@include defaultTransition;
		font-family: 'basic_sans_altlight';

		@include breakpointTablet {
			padding: 0 16px;
		}

	}
}
.clients-list {
	margin-top: 32px;
	// text-align:center;
	&.left {
		padding-right: 0;
	}
	&.right {
		padding-left: 0;
	}
	&.offset-y {
		position: relative;
		top: 0;
	}

	@include breakpointTablet {
		&.left {
			padding-right: 24px;
		}
		&.right {
			padding-left: 24px;
		}
		&.offset-y {
			top: 160px;
		}
	}
	.are-u-next {
		width: 100%;
		margin: 16px 0 32px 8px;
		color: $tbnt-purple;
		a {

		}
	}

}
.client-link {
	background: rgba($tbnt-dark-blue, .05);
	display: inline-block;
	padding: 4px 6px;
	color:  rgba($tbnt-dark-blue, .5);
	border-radius: 2px;
	margin-right: 16px;
	margin-bottom: 16px;
	&:hover {
		background: $tbnt-purple;
		@include defaultTransition;
		color: $white;
	}
	&.coming-soon {
		cursor: not-allowed;
	}
}
[data-client-mjf] {
	background-image: url(../../images/clients/mjf.png);
	@include breakpointDesktop {
		background-image: url(../../images/clients/mjf.gif);
	}
}
[data-client-paleo] {
	background-image: url(../../images/clients/paleo.png);
	@include breakpointDesktop {
		background-image: url(../../images/clients/paleo.gif);
	}
}
[data-client-ikentoo] {
	background-image: url(../../images/clients/ikentoo.png);
	@include breakpointDesktop {
		background-image: url(../../images/clients/ikentoo.gif);
	}
}
[data-client-jumpfax] {
	background-image: url(../../images/clients/jumpfax.png);
	@include breakpointDesktop {
		background-image: url(../../images/clients/jumpfax.gif);
	}
}
[data-client-timea] {
	background-image: url(../../images/clients/timea.png);
	@include breakpointDesktop {
		background-image: url(../../images/clients/timea.gif);
	}
}
[data-client-gottex] {
	background-image: url(../../images/clients/gottex.png);
	@include breakpointDesktop {
		background-image: url(../../images/clients/gottex.gif);
	}
}
[data-client-micr] {
	background-image: url(../../images/clients/micr.png);
	@include breakpointDesktop {
		background-image: url(../../images/clients/micr.gif);
	}
}