.contact-composition {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	margin-bottom: 32px;
	@include breakpointTablet {
		justify-content: flex-start;
		margin-bottom: 0;
	}
	[data-element-2] {
		text-shadow: $bSStrong;
		@include breakpointTablet {
			transform: translateY(-90px) translateX(200px);
			transform-origin: 100% 100%;
		}
	}
}
.lang {
	margin-right: 8px;
	.tag {
		left: 0;
		right: auto!important;
	}
}
.contact-element  {
	text-align:  center;
	margin-bottom: 32px;
	@include breakpointTablet {
		text-align:  left;
		margin-bottom: 32px;
	}
	@include breakpointDesktop {
		margin-bottom: 0;
	}
}
.contact-subtitle {
	font-size: 0.825em;
	opacity: .5;
}
.langs {
	margin-top: 0;
	@include breakpointTablet {
		margin-top: 0;
	}
}