.intro-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	//min-height: 544px;
	//max-height: 750px;
}

header {
	padding-top: 158px;
}

header .composition {
	height: 100%;
	align-items: center;
}

.intro-composition {
	position: relative;
	min-height: 250px;

	[data-element-2] {
		position: absolute;
		top: 20%;
		right: 0px;
		text-shadow: $bSStrong;
		z-index: 50;
	}

	[data-element-3] {
		position: absolute;
		bottom: 70px;
		left: 0;
	}

	[data-element-4] {
		position: absolute;
		bottom: 0;
		right: 0;
	}

	@include breakpointMobile {
		min-height: 310px;
	}

	@include breakpointTablet {
		min-height: 410px;

		[data-element-intro ]{
		opacity: 0;
	}
		[data-element-2] {
			right: 20px;
		}
		[data-element-3] {
			bottom:95px;

			@include breakpointDesktop {
				bottom:0;
			}
		}
		[data-element-4] {
			position: absolute;
			bottom: 0;
			right: 0;
		}
	}
	@include breakpointDesktop {
		min-height: 460px;
	}
}
.point-element {
	position: absolute;
	background: $tbnt-purple;
	box-shadow: $bSSmall;
	border-radius: 50%;
	z-index: 600;
	&[data-point] {
		transform: translateY(-40px);
		opacity: 0;
	}
	&.point-small {
		width: 8px;
		height: 8px;
	}
	&.point-big {
		width: 12px;
		height: 12px;
	}
	&.point-medium {
		width: 10px;
		height: 10px;
	}
	&[data-point-1] {
		top: 7%;
		left: 64%;
	}
	&[data-point-2] {
		top: 10%;
		left: 67%;
	}
	&[data-point-3] {
		top: 15%;
		left: 65%;
	}
	&[data-point-4] {
		top: 46%;
		left: 10%;
	}
	&[data-point-5] {
		top: 54%;
		left: 14%;
	}
	&[data-point-6] {
		top: -10%;
		right: 0%;
	}
	&[data-point-7] {
		top: 50%;
		left: -10%;
	}
	&[data-point-8] {
		bottom: -10%;
		left: 25%;
	}
	&[data-point-9] {
		bottom: -5%;
		right: 15%;
	}
}

.intro-content {
	font-family: 'basic_sans_altlight';
	position: relative;
	margin-top: 32px;
	line-height: 28px;

}

.intro-content-item {
	margin-bottom: 24px;
	:last-child {
		margin-bottom: 0;
	}
	@include breakpointTablet(){
		padding-right: 23px;
		:last-child {
			padding-right: 0;
			padding-left: 23px;
		}
	}
}

.intro-subtitle {
	display: flex;
	justify-content: center;
	width: 100%;
	min-height: 51px;
	overflow: hidden;
	margin: 8px 0;
	position: relative;
	@include breakpointTablet(){
		min-height: 120px;

	}
	img {
		width: 100%;
		margin: 0 auto;

		@include breakpointTablet(){
			width: 80%;
		}
	}
	.shining-effect {
		content: "";
		position: absolute;
		width: 100%;
		height: 150px;
		left: 0;
		top: 0;
		opacity: .6;
		transform: translateX(-100%) rotate(30deg);
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100,ffffff+100&0+0,1+50,0+100 */
		background: -moz-linear-gradient(-45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(-45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(135deg, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
}