.reel {

	.reel-composition {
		position: relative;
	}

	.video-container {
		position: relative;
		width: 100%;
		height: auto;
		box-shadow: 0 20px 50px rgba(#ABA4F0, 0.2);
		border-radius: 24px;
		overflow: hidden;
		margin-bottom: 48px;
		@include breakpointMobile {
			margin-bottom: 32px;
		}

		video {
			width: 100%;
			margin: 0;
			display: block;
		}

		video:-webkit-full-screen  {
		  width: 100%;
		  height: 100%;
		}
	}

	[data-element-1] {
		transform: translate(20px, 40%);
		position: relative;
	}

	[data-element-2] {
		position: absolute;
		right: 40px;
		bottom: 6%;
		text-shadow: $bSStrong;
		pointer-events: none;

		@include breakpointMobile {
			bottom: -5.5%;
		}
	}
}

.video-controls {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background-color: rgba(#E3E0FF, 0.38);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.2s ease-in-out;

	&.hide {
		opacity: 0;

		button {
			transform: scale(0.5);
		}
	}

	button {
		width: 60px;
		padding: 0;
		margin: 0;
		background-color: transparent;
		border: 0;
		outline: none;

		@include breakpointMobile {
			width: 80px;
		}

		@include breakpointTablet {
			width: 100px;
		}
	}
}

.music-copyright {
	display: block;
	opacity: 0.5;

	a {
		border-bottom: solid 1px rgba(#000, 0.5);
	}
}