.service-composition {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start;
	[data-element-1] {

	}
	[data-element-2] {
		text-shadow: $bSStrong;
		transform: translateY(-40px) translateX(0);
		@include breakpointTablet {
			transform: translateY(-90px) translateX(32px);
		}
	}
}
.services-list {
	margin-bottom: 24px;
	@include breakpointTablet(){
		padding: 0 32px 0 0;
		margin-bottom: 100px;
	}
	&:hover {
		.service-element {
			opacity: .2;
			@include defaultTransition();
		}
	}
	.service-element {
		@include defaultTransition();
		margin-bottom: 32px;
		@include breakpointTablet(){
			padding-right :48px;
			margin-bottom: 32px;
			&:last-child {
				padding-right: 0;
			}
			li {
				height: 60px;
			}
		}
		@include breakpointDesktop(){
			margin-bottom: 0;
			li {
				height: 128px;
			}
		}
		&:hover {
			opacity: 1;
		}
		small {
			display: inline-block;
			margin-top: 2px;
			font-size: 0.875em;
			opacity: .6;
		}
	}
}

.brands-up-badge {
	display: block;
	font-size: 0.875em;
	opacity: .6;
	@include breakpointDesktop(){
		transform: translateY(-50px);
	}

	img {
		width: 32px;
		margin-left: 8px;
	}
}