.team-section {
	display: flex;
	flex-direction: column;

	.composition {
		order: -1;
		@include breakpointTablet {
			order: 0;
		}
	}
}

.team-composition {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: flex-end;

	[data-element-1] {
		@include breakpointTablet {
			transform: translateY(88px);
		}
		text-shadow: $bSHugeBlack;
	}
	[data-element-2] {
		@include breakpointTablet {
			transform: translateX(-64px);
		}
	}
}

.team-element {
	position: relative;
	z-index: 200;
	margin-bottom: 116px;
	width: 100%;
	&.left {
		padding-right: 0;
	}
	&.right {
		padding-left: 0;
	}
	&.offset-y {
		position: relative;
		top: 0;
	}
	@include breakpointTablet {
		margin-bottom: 64px;
		&.left {
			padding-right: 24px;
		}
		&.right {
			padding-left: 24px;
		}
		&.offset-y {
			position: absolute;
			top: 160px;
		}
	}

	.card {
		position: relative;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		background : $tbnt-purple;
		box-shadow: $bSHuge;
		border-radius: 24px;
		height: 254px;
		margin-bottom: 16px;
		background: #f1f4f9; /* Old browsers */
		background: -moz-linear-gradient(-45deg, #f1f4f9 0%, #b3adf1 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(-45deg, #f1f4f9 0%,#b3adf1 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(135deg, #f1f4f9 0%,#b3adf1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f4f9', endColorstr='#b3adf1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

		@include breakpointTablet{
			margin-bottom: 32px;
		}
		img {
			width: 90%;
			position: relative;
			z-index: 300;
			max-width: 360px;
			max-height: 360px;
		}
		.team-name {
			position: absolute;
			left: 0;
			bottom: 16px;
			width: 100%;
			color: $white;
			z-index: 350;
			text-align: center;
		}
		/*.dark-button {
			position: absolute;
			right: auto;
			bottom: -19px;
			background: $tbnt-dark-blue;
			padding: 10px 16px;
			color: $white;
			border-radius: 8px;
			box-shadow: $bSSmallBlack;
			z-index: 500;
			height: 40px;
			@include breakpointTablet() {
				right: -16px;
				top: 32px;
			};
			&:hover {
				box-shadow: $bSStrongBlack;
			}
		}*/
	}
	.content {
		text-align : center;
		a {
			display: inline-block;
			opacity: .5;
			margin-top: 8px;
		}
	}
}
.team-list {

	@include breakpointTablet {
		margin-top: 192px;
	}

	text-align: center;
	ul {

	}
	li {
		display: inline-block;
		padding-right: 16px;
		opacity: .5;
		&:last-child {
			padding-right: 0;
		}
		a {
		}
	}
}