* {
	box-sizing: border-box;
}

@import 'variables.scss';
@import 'typography.scss';
@import 'navbar.scss';

.font-color-red {
	color: $tbnt-red;
}

.font-color-blue {
	color: $tbnt-blue;
}

.font-color-yellow {
	color: $tbnt-yellow;
}

.font-color-green {
	color: $tbnt-green;
}

.font-color-white {
	color: $white;
}


.email {
	z-index: 3000;
	position: fixed;
	top: 16px;
	right: 16px;
	width: 160px;
	color: #FFFFFF;
}

.container {
	max-width: 1184px;
	margin: 0 auto;
}