.navbar {
	width: 100%;
	padding-top: 64px;

}
.navbar-inner  {
	display: flex;
	flex-align:center;
	justify-content: space-between;
}
.brand {
	z-index: 3000;
	position: relative;
	width: 120px;
	img {
		width: 100%;
		max-width: 160px;
	}
}
nav {

}
.nav-item {
	position: relative;
}
.tag {
	position: absolute;
	top: 0;
	right: 0;
	width: auto;
	padding: 4px 6px;
	font-size: 10px;
	background: $tbnt-purple;
	color: $white;
	box-shadow: $bs-medium;
	border-radius: 4px;
	white-space: nowrap;
	transform: translateY(-20px) translateX(60px);
}