
@font-face {
	font-family: 'basic_sans_altblack';
	src: url('../fonts/basicsansalt-black-webfont.woff2') format('woff2'),
	url('../fonts/basicsansalt-black-webfont.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'basic_sans_altbold';
	src: url('../fonts/basicsansalt-bold-webfont.woff2') format('woff2'),
	url('../fonts/basicsansalt-bold-webfont.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'basic_sans_altregular';
	src: url('../fonts/basicsansalt-regular-webfont.woff2') format('woff2'),
	url('../fonts/basicsansalt-regular-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'basic_sans_altregular_it';
	src: url('../fonts/basicsansalt-regularit-webfont.woff2') format('woff2'),
	url('../fonts/basicsansalt-regularit-webfont.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}

body {
	font-family: 'basic_sans_altregular', sans-serif!important;
	font-size: 16px;
	line-height: 1.2em;
}
a {
	color: $tbnt-dark-blue;
	text-transform: none;
}
h1, h2 {
	font-family: 'basic_sans_altblack', sans-serif!important;
}
h1 {
}