$tbnt-dark-blue : #232947;
$tbnt-yellow : #FFD717;
$tbnt-red : #EE6352;
$tbnt-green : #56E39F;
$tbnt-blue : #87D1F0;
$tbnt-purple : #ABA4F0;
$white : #FFFFFF;

$bs-medium : 0 5px 10px rgba(171,164,240,50)