* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'basic_sans_altblack';
  src: url("../fonts/basicsansalt-black-webfont.woff2") format("woff2"), url("../fonts/basicsansalt-black-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'basic_sans_altbold';
  src: url("../fonts/basicsansalt-bold-webfont.woff2") format("woff2"), url("../fonts/basicsansalt-bold-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'basic_sans_altregular';
  src: url("../fonts/basicsansalt-regular-webfont.woff2") format("woff2"), url("../fonts/basicsansalt-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'basic_sans_altregular_it';
  src: url("../fonts/basicsansalt-regularit-webfont.woff2") format("woff2"), url("../fonts/basicsansalt-regularit-webfont.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

body {
  font-family: "basic_sans_altregular", sans-serif !important;
  font-size: 16px;
  line-height: 1.2em;
}

a {
  color: #232947;
  text-transform: none;
}

h1, h2 {
  font-family: "basic_sans_altblack", sans-serif !important;
}

.navbar {
  width: 100%;
  padding-top: 64px;
}

.navbar-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.brand {
  z-index: 3000;
  position: relative;
  width: 120px;
}

.brand img {
  width: 100%;
  max-width: 160px;
}

.nav-item {
  position: relative;
}

.tag {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  padding: 4px 6px;
  font-size: 10px;
  background: #ABA4F0;
  color: #FFFFFF;
  -webkit-box-shadow: 0 5px 10px #aba4f0;
          box-shadow: 0 5px 10px #aba4f0;
  border-radius: 4px;
  white-space: nowrap;
  -webkit-transform: translateY(-20px) translateX(60px);
          transform: translateY(-20px) translateX(60px);
}

.font-color-red {
  color: #EE6352;
}

.font-color-blue {
  color: #87D1F0;
}

.font-color-yellow {
  color: #FFD717;
}

.font-color-green {
  color: #56E39F;
}

.font-color-white {
  color: #FFFFFF;
}

.email {
  z-index: 3000;
  position: fixed;
  top: 16px;
  right: 16px;
  width: 160px;
  color: #FFFFFF;
}

.container {
  max-width: 1184px;
  margin: 0 auto;
}
