.page404 {
	height: calc(100vh - 200px);
	display: flex;
	flex-direction: column;
	justify-content: center;

	.composition-404 {
		justify-content: center;
		text-align: center;

		@include breakpointTablet {
			[data-element-2] {
				transform: translate(80px, -90px);
			}
		}
	}

	.text-container {
		max-width: 360px;
	}
}