#navbar
	background-color: $white

	@media (max-width: $uikit-tablet)
		displayFlex()

	.uk-navbar-left
		@media (max-width: $uikit-tablet)
			flex: 1

		.logo-link
			div
				padding: 10px
				padding-left: 0px

				img
					max-width: 100%;
					max-height: 100%;
					@media (min-width: $uikit-tablet)
						max-width: 180px;

	.uk-navbar-right
		@media (max-width: $uikit-mobile)
			displayFlex()
			margin-right: 0px
			flex: 1

		& > ul
			@media (max-width: $uikit-mobile)
				displayFlex()
				width: 100%

			& > li
				@media (max-width: $uikit-mobile)
					flex: 1
					// padding: 5px 0px

				& > a
					@media (max-width: $uikit-mobile)
						padding: 0
