.card-module
	min-height: 40px
	box-shadow: none
	padding: 5px 15px
	border-bottom: none

	position: relative
	-webkit-transform: translateZ(0)
	transform: translateZ(0)
	touch-action: manipulation

	@media (max-width: $uikit-tablet)
		box-shadow: none !important
		-webkit-transition: none !important
		transition: none !important

	&.uk-card-default
		border-bottom: 1px solid #d8eafc

	&.card-disabled
		border: 1px solid #e5e5e5
		background: #ededed

	&.card-froala
		padding: 0px
		border-bottom: none !important

	input
		&:not([type="checkbox"])
			background-color: transparent !important

	select,
	.flatpickr-input
		cursor: pointer

	textarea
		min-height: 100px
		padding-top: 10px
		padding-bottom: 10px

	.uk-icon
		min-width: 30px

	.uk-label
		font-size: .750rem

	.uk-icon-button
		margin-left: 6px
		margin-right: 6px

	.card-input-icons
		@media (max-width: $uikit-mobile)
			flex-direction: column

	.card-input-labels
		max-width: 540px
		padding-top: 5px

		.uk-label
			margin-bottom: 5px

	.uk-grid-small
		.uk-grid-margin
			margin-top: 0px

[disabled].card-module,
[disabled] .card-module
	&:after
		content: ''
		display: block
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background-color: rgba(255, 255, 255, .8)
