.ionicon
	position: relative
	font-size: 18px

	&.ionicon-small
		font-size: 14px

	&.ionicon-medium
		font-size: 24px

	&.ionicon-big
		font-size: 30px

.ionicon-badge
	position: absolute
	top: -2px
	right: -4px
