.tbnt-default-container
	@include defaultContainer()

.tbnt-margin-for-navigation
	@include marginForNavigation()

.tbnt-is-overflow-hidden
	overflow: hidden !important

.tbnt-is-background-white
	background-color: $white

.tbnt-opacity-0
	opacity: 0

.tbnt-opacity-50
	opacity: 0.5

.tbnt-opacity-100
	opacity: 1

.tbnt-pointer
	cursor: pointer

.tbnt-hover
	@media (min-width: $uikit-mobile)
		&:hover
			box-shadow: 0 4px 6px rgba(0,0,0,0.06)

.tbnt-no-select
	-webkit-touch-callout: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
