$progress_color: $primary

#nprogress
	.bar
		z-index: 9999
		background: $progress_color

		.peg
			box-shadow: 0 0 10px $progress_color, 0 0 5px $progress_color

	.spinner
		z-index: 9999

		.spinner-icon
			border-top-color: $progress_color
			border-left-color: $progress_color
