*, *:before, *:after
	-webkit-box-sizing: inherit
	-moz-box-sizing: inherit
	box-sizing: inherit

img
	-ms-interpolation-mode: bicubic

html
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	touch-action: manipulation

body
	width: 100%
	min-height: 100vh
	color: $font-color
	font-size: 15px
	font-weight: 400
	line-height: 1.25em
	-webkit-overflow-scrolling: touch
	-webkit-font-smoothing: antialiased
	text-rendering: optimizeLegibility

#app
	position: fixed
	top: 0px
	left: 0px
	right: 0px
	bottom: 0px
	overflow-x: hidden
	overflow-y: scroll
	-webkit-overflow-scrolling: touch
