/*
 * Flex
 */

@mixin displayFlex()
	display: -ms-flexbox
	display: -webkit-flex
	display: flex

@mixin flexRow()
	-webkit-flex-direction: row
	-moz-flex-direction: row
	-ms-flex-direction: row
	flex-direction: row

@mixin flexColumn()
	-webkit-flex-direction: column
	-moz-flex-direction: column
	-ms-flex-direction: column
	flex-direction: column

@mixin flexJustifyStart()
	-ms-flex-pack: flex-start
	-webkit-justify-content: flex-start
	justify-content: flex-start

@mixin flexJustifyCenter()
	-ms-flex-pack: center
	-webkit-justify-content: center
	justify-content: center

@mixin flexJustifyEnd()
	-ms-flex-pack: flex-end
	-webkit-justify-content: flex-end
	justify-content: flex-end

@mixin flexJustifyBetween()
	-ms-flex-pack: space-between
	-webkit-justify-content: space-between
	justify-content: space-between

@mixin flexAlignStart()
	-ms-flex-align: flex-start
	-webkit-align-items: flex-start
	align-items: flex-start

@mixin flexAlignCenter()
	-ms-flex-align: center
	-webkit-align-items: center
	align-items: center

@mixin flexAlignEnd()
	-ms-flex-align: flex-end
	-webkit-align-items: flex-end
	align-items: flex-end

@mixin flexAlignStretch()
	-ms-flex-align: stretch
	-webkit-align-items: stretch
	align-items: stretch

@mixin flexWrap()
	-ms-flex-wrap : wrap
	-webkit-flex-wrap: wrap
	flex-wrap: wrap

@mixin flexNoWrap()
	-ms-flex-wrap: none
	-webkit-flex-wrap: nowrap
	flex-wrap: nowrap

/*
 * Container
 */

@mixin defaultContainer()
	max-width: $breakpoint-desktop
	margin: 0 auto
	width: 100%
	padding: 0 15px
	@media (min-width: $breakpoint-tablet)
		padding: 0 15px
	@media (min-width: $breakpoint-desktop)
		padding: 0

@mixin sectionMargin()
	margin-bottom: 30px
	@media (min-width: $breakpoint-tablet)
		margin-bottom: 75px
	@media (min-width: $breakpoint-desktop)
		margin-bottom: 115px

@mixin marginForNavigation()
	padding-top: 100px!important

@mixin pageWrapper()
	margin-bottom: 30px!important
	@media (min-width: $breakpoint-tablet)
		margin-bottom: 75px!important

/*
 * Shadow
 */

@mixin defaultBoxShadow()
	box-shadow: 0 16px 23px rgba(0, 0, 0, 0.6)

@mixin lightBoxShadow()
	box-shadow: 0 16px 23px rgba(0, 0, 0, 0.13)

/*
 * Shadow
 */

@mixin defaultTransition()
	transition: .2s all ease-in
