.tilt {
	transform-style: preserve-3d ;
	.tilt-child-1 {
		transform: translateZ(20px);
	}
	.tilt-child-2 {
		transform: translateZ(40px);
	}
	.tilt-child-3 {
		transform: translateZ(60px);
	}
}

[data-intro-hidden] {
	opacity: 0;
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform:  translateY(20px) scale(.9);
	}

	to {
		opacity: 1;
		transform: none;
	}
}
.fadeInUp {
	animation-name: fadeInUp;
	animation-duration: .4s;
}
.scroll-anim {
	// visbility: hidden;
}