.grid {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	@include breakpointTablet {
		flex-wrap: wrap;
	}
	@include breakpointDesktop {
		flex-wrap: wrap;
	}
}
.grid-of-2 {
	.grid-element {
		position: relative;
		width: 100%;
		@include breakpointTablet {
			width: 50%
		}
	}
}
.grid-of-4 {
	.grid-element {
		position: relative;
		width: 100%;
		@include breakpointTablet {
			width: 50%
		}
		@include breakpointDesktop {
			width : 25%;
		}
	}
}