.navbar {
	width: 100%;
	padding-top: 32px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000
}
.navbar-inner  {
	display: flex;
	flex-align:center;
	flex-direction: row;
	justify-content: space-between;
	@include defaultContainer();
	padding: 0 16px;

	@include breakpointTablet {
		padding: 0 64px;
	}
	@include breakpointDesktop {
		padding: 0;
	}
}
.brand {
	z-index: 3000;
	position: relative;
	width: 120px;
	img {
		width: 100%;
		max-width: 160px;
	}
}
nav {
	display: flex;
	flex-wrap: wrap;
	margin-top: 0px;

}
.nav-item {
	display: flex;
	flex: nowrap;
	align-items: center;
	position: relative;
}

.advent-link {
	margin-left: 32px;
	svg {
		transform: scale(1.5);
		padding: 2px;
		padding-bottom: 4px;
		margin-left: 8px;
	}
}

.tag {
	width: auto;
	position: absolute;
	right: 0;
	top: 2px;
	padding:  0 6px;
	font-size: 0.5em;
	background: $tbnt-purple;
	color: $white;
	box-shadow: $bSMedium;
	border-radius: 4px;
	white-space: nowrap;
	transform: translateY(-10px) translateX(-10px);
	letter-spacing: .4px;
	text-transform: uppercase;
}

.taged {
	transform: translateX(-40px);
	margin-left: 64px;
}