.sidebar {
	position: absolute;
	top: 0;
	left:4px;
	height: 100vh;
	width: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 4000;
	a {
		transform: rotate(-90deg);
		color: $tbnt-purple;
		text-shadow: $bSMedium;
		font-size: 0.745em;
	}
	@include breakpointTablet {
		left:24px;
		position: fixed;
	}
	@include breakpointDesktop {
		left:32px;
	}
	@include breakpointWidescreen {
		left:64px;
	}
}