
body {
	font-family: $regularFontFamily;
	font-size: 16px;
	line-height: 1.2em;
	color: $tbnt-dark-blue;
}
a {
	color: $tbnt-dark-blue;
	text-decoration: none;
	position: relative;
	@include defaultTransition;

	&.primary-link {
		&:after {
			content: '';
			width: 0%;
			position: absolute;
			top: -5%;
			left: -5%;
			height: 110%;
			background: $tbnt-purple;
			@include defaultTransition;
			z-index: -1;
			overflow: hidden;

		}
		&:hover, &.active {
			opacity: 1!important;
			color: $white;
			@include defaultTransition;

			&:after {
				width: 110%;
				@include defaultTransition;
			}
		}
	}
}
h1, h2 {
	font-family: $blackFontFamily;

}
h1 {


}
h3 {
	font-family: $boldFontFamily;
	margin-bottom: 16px;
	@include breakpointDesktop{
		margin-bottom: 32px;
	}
}
p {
	font-family: $regularFontFamily;
	font-size: 13m;
	line-height: 1.2em;
}
ul {

}
li {
	margin-bottom:16px;
}
.is-purple {
	color: $tbnt-purple;
}
.is-grey {
	color: rgba($tbnt-dark-blue, .1);
}

.title-element {
	font-family: $blackFontFamily;
	line-height: 1em;
	display: inline-block;
	text-transform: uppercase;
	span {
		display: block;
	}
	font-size: 71px;
	@include breakpointMobile {
		font-size: 80px;
	}
	@include breakpointTablet {
		font-size: 140px;
	}
	@include breakpointDesktop {
		font-size: 200px;
	}
}
.name {
	line-height: 1em;
	font-family : $blackFontFamily;
	font-style: italic;
	font-size: 48px;
	@include breakpointTablet {
		font-size: 68px;
	}
	@include breakpointDesktop {
		font-size: 88px;
	}
}
.see-u {
	opacity: .2;
	font-family : $blackFontFamily;

}