#page-blog-edit
	margin-bottom: 70px

	.module-edit
		width: 100%
		position: absolute
		top: -38px
		right: -5px
		padding: 20px
		text-align: right
		display: none

		.label
			margin-right: 20px
			color: $gray-middle

		.ionicon
			cursor: pointer
			padding: 5px

	.module-add
		position: relative
		text-align: center

		.ionicon
			cursor: pointer
			z-index: 100

	.modules-types
		@include displayFlex()
		@include flexJustifyCenter()
		@include defaultTransition()
		position: absolute
		top: 0
		left: 0
		right: 0
		z-index: 300
		padding-top: 30px

		.modules-types-content
			@include displayFlex()
			@include flexRow()
			@include flexJustifyCenter()
			@include lightBoxShadow()
			padding: 15px 10px
			padding-bottom: 30px
			background-color: white
			border-radius: 5px
			width: 600px
			flex-flow: row wrap

			& > div
				@include displayFlex()
				@include flexColumn()
				@include flexJustifyCenter()
				@include flexAlignCenter()
				@include defaultTransition()
				padding: 10px 0
				cursor: pointer
				flex-basis: 25%

				&:hover
					transform: translateY(-4px)

				img
					width: 100px
					margin-top: -15px
					margin-bottom: -25px

				span
					font-size: 12px

	.modules
		position: relative
		margin: 0 -20px

		&:nth-child(2)
			.module-edit
				.ion-chevron-up
					display: none

		&:last-child:not(:nth-child(1))
			.module-edit
				.ion-chevron-down
					background-color: pink
					display: none

			.modules-types
				top: initial
				bottom: 0

		&:hover
			.module-edit
				@include displayFlex()
				@include flexJustifyEnd()
				@include flexAlignCenter()

		.card-module
			margin: 0 !important

		.module-content-parent
			@include displayFlex()
			@include flexJustifyCenter()
			@include flexAlignStretch()

		.module-content-item
			flex: 1
			margin: 20px
			position: relative

			&.module-content-wysiwyg
				& > div
					min-height: 100%

					div
						height: 100%

			&.module-content-text
			&.module-content-image
				[data-upload-preview]
					width: 100%
					margin-bottom: 20px

					img
						width: 100%

			.module-tooltip
				position: absolute
				top: 16px
				right: 16px
				z-index: 100

		&.module-wysiwyg

		&.module-wysiwyg-2

		&.module-wysiwyg-image

		&.module-image-wysiwyg

		&.module-image

		&.module-image-2

		&.module-image-3

		&.module-video

		&.module-quote
			.module-content-parent
				@include flexWrap()

				.module-content-item
					flex: initial
					width: 100%

					&:last-child
						width: 50%
						margin-top: 0

		.fr-popup
			top: initial !important
			left: 50px !important
			bottom: 0px !important
			min-height: 155px

			.fr-arrow
				top: 128px
				left: initial
				right: 100%
				margin-right: -2px
				transform: rotate(-90deg)

	.sticky-bottom
		width: 100%
		position: fixed
		left: 0
		bottom: 0
		z-index: 200
		background-color: #fff

		.card-module
			min-width: 130px

	.field-image
		position: relative

		.field-tooltip
			position: absolute
			top: 16px
			right: 16px
			z-index: 100
